<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.LOCATION_HARDWARE.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coffee_Shop_Online"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgdVBOrO78tqPpwHx-NjlarbjY_3gPQgk" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DescAvocadoShake"
            android:exported="true" />
        <activity
            android:name=".DescBananaShake"
            android:exported="true" />
        <activity
            android:name=".DescBurger"
            android:exported="true" />
        <activity
            android:name=".DescColdBrewCoffee"
            android:exported="true" />
        <activity
            android:name=".DescCrispyChicken"
            android:exported="true" />
        <activity
            android:name=".DescGoldenGinger"
            android:exported="true" />
        <activity
            android:name=".DescIcedEspresso"
            android:exported="true" />
        <activity
            android:name=".DescIcedLatte"
            android:exported="true" />
        <activity
            android:name=".DescIcedMilk"
            android:exported="true" />
        <activity
            android:name=".DescIcedMocha"
            android:exported="true" />
        <activity
            android:name=".DescLatteShake"
            android:exported="true" />
        <activity
            android:name=".DescMazagram"
            android:exported="false" />
        <activity
            android:name=".DescMichelada"
            android:exported="true" />
        <activity
            android:name=".DescMochaShakes"
            android:exported="true" />
        <activity
            android:name=".DescNoodles"
            android:exported="true" />
        <activity
            android:name=".DescOreoMilk"
            android:exported="true" />
        <activity
            android:name=".DescPasta"
            android:exported="true" />
        <activity
            android:name=".DescPizza"
            android:exported="true" />
        <activity
            android:name=".DescShakerato"
            android:exported="true" />
        <activity
            android:name=".DescSkinnyIceCocktail"
            android:exported="true" />
        <activity
            android:name=".DescStrawberryShake"
            android:exported="true" />
        <activity
            android:name=".DescStrawberrySlush"
            android:exported="true" />
        <activity
            android:name=".DescWaffeles"
            android:exported="true" />
        <activity
            android:name=".DescYellowCake"
            android:exported="true" />
        <activity
            android:name=".Branch"
            android:exported="true"/>
        <activity
            android:name=".tableBooking"
            android:exported="true">
        </activity>
        <activity
            android:name=".tableBooking2"
            android:exported="true">
        </activity>
        <activity
            android:name=".tableBooking3"
            android:exported="true">
        </activity>
        <activity
            android:name=".tableBooking4"
            android:exported="true">
        </activity>
        <activity
            android:name=".tableBooking5"
            android:exported="true">
        </activity>
        <activity
            android:name=".tableBooking6"
            android:exported="true">
        </activity>
        <activity
            android:name=".tableBooking7"
            android:exported="true">
        </activity>
        <activity
            android:name=".tableBooking8"
            android:exported="true">
        </activity>
        <activity
            android:name=".DescWhite"
            android:exported="true"/>
        <activity
            android:name=".BranchLocation"
            android:exported="true"/>
        <activity
            android:name=".Payment"
            android:exported="true"/>
        <activity
            android:name=".CategoryActivity"
            android:exported="true"/>
        <activity
            android:name=".Category1"
            android:exported="true"/>
        <activity
            android:name=".Category2"
            android:exported="true"/>
        <activity
            android:name=".Category3"
            android:exported="true"/>
        <activity
            android:name=".Category4"
            android:exported="true"/>
        <activity
            android:name=".Category5"
            android:exported="true"/>
        <activity
            android:name=".CusDetailsActivity"
            android:exported="true"/>

    </application>

</manifest>